{
  "openapi": "3.1.0",
  "info": {
    "title": "Aikido Security API documentation",
    "version": "1.0.0",
    "description": "This document outlines all available public API endpoints from Aikido",
    "termsOfService": "https://www.aikido.dev/policies/terms",
    "contact": {
      "name": "Support",
      "url": "https://www.aikido.dev",
      "email": "support@aikido.dev"
    }
  },
  "servers": [
    {
      "url": "https://app.aikido.dev/api/public/v1",
      "description": "Server located in Europe"
    },
    {
      "url": "https://app.us.aikido.dev/api/public/v1",
      "description": "Server located in the United States"
    },
    {
      "url": "https://app.me.aikido.dev/api/public/v1",
      "description": "Server located in the Middle East"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://app.aikido.io/api/oauth/token",
            "scopes": {
              "issues:read": "Read access to issue resources",
              "issues:write": "Write access to issue resources",
              "clouds:read": "Read access to cloud resources",
              "clouds:write": "Write access to cloud resources",
              "domains:read": "Read access to domain resources",
              "domains:write": "Write access to domain resources",
              "repositories:read": "Read access to code repositories",
              "repositories:write": "Write access to code repositories",
              "containers:read": "Read access to container repositories",
              "containers:write": "Write access to container repositories",
              "basics:read": "Read access to basic workspace information",
              "users:read": "Read access to user information",
              "users:write": "Write access to user information",
              "firewall:read": "Read access to Zen resources",
              "firewall:write": "Write access to Zen resources",
              "license:write": "Write access to licenses",
              "research:read": "Read access to public research data",
              "teams:read": "Read access to teams",
              "teams:write": "Write access to teams",
              "reports:read": "Read access to reports",
              "pentests:read": "Read access to pentests",
              "pentests:write": "Write access to pentests",
              "custom_sast_rules:read": "Read access to custom sast rules",
              "custom_sast_rules:write": "Write access to custom sast rules",
              "virtual_machines:read": "Read access to virtual machines",
              "task_tracking:read": "Read access to task tracking information",
              "task_tracking:write": "Write access to task tracking information",
              "licenses:write": "Write access to licenses",
              "bug_bounty:read": "Read access to bug bounty information",
              "bug_bounty:write": "Write access to bug bounty information",
              "code_quality:read": "Read access to code quality findings",
              "webhooks:read": "Read access to webhooks",
              "webhooks:write": "Write access to webhooks",
              "endpoint_protection:read": "Read access to endpoint protection resources"
            }
          }
        }
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "Pagination parameter, starts at 0.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "default": 0
        }
      },
      "PageSizeParam": {
        "name": "per_page",
        "in": "query",
        "description": "Amount of items returned",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 10,
          "maximum": 20,
          "default": 20
        }
      }
    }
  },
  "paths": {
    "/open-issue-groups": {
      "get": {
        "operationId": "listOpenIssueGroups",
        "summary": "List open issue groups",
        "description": "Returns a list of all the open issue groups in your account, as seen in The Feed",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "filter_code_repo_id",
            "in": "query",
            "description": "The repository ID to filter the issue groups by",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "name": "filter_external_code_repo_id",
            "in": "query",
            "description": "The repository ID from the provider to filter the issue groups by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_code_repo_name",
            "in": "query",
            "description": "The repository name to filter the issue groups by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_container_repo_id",
            "in": "query",
            "description": "The container repository to filter the issue groups by.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the container repository"
            }
          },
          {
            "name": "filter_team_id",
            "in": "query",
            "description": "Filter issue groups for a specific team",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter_issue_type",
            "in": "query",
            "description": "A filter to only export issues that have a given type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open_source",
                "leaked_secret",
                "cloud",
                "sast",
                "iac",
                "docker_container",
                "cloud_instance",
                "surface_monitoring",
                "malware",
                "eol",
                "mobile",
                "scm_security",
                "ai_pentest",
                "license"
              ]
            }
          },
          {
            "name": "filter_status",
            "in": "query",
            "description": "A filter to only export issues that have a given status. Default is 'open'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "snoozed",
                "ignored"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of open issue groups, sorted descending by their priority",
            "content": {
              "application/json": {
                "schema": {
                  "format": "array",
                  "items": {
                    "format": "Object",
                    "title": "Issue groups",
                    "required": [
                      "id",
                      "title",
                      "description",
                      "type",
                      "group_status",
                      "severity_score",
                      "severity",
                      "time_to_fix_minutes",
                      "locations",
                      "how_to_fix",
                      "related_cve_ids"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "The issue group ID."
                      },
                      "title": {
                        "type": "string",
                        "description": "A human readable title for this issue group."
                      },
                      "description": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "A small description of this issue."
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of issues in this group.",
                        "enum": [
                          "open_source",
                          "leaked_secret",
                          "cloud",
                          "iac",
                          "sast",
                          "surface_monitoring",
                          "malware",
                          "eol",
                          "scm_security",
                          "ai_pentest",
                          "license"
                        ]
                      },
                      "severity_score": {
                        "type": "integer",
                        "description": "A number indicating the importance of the vulnerability",
                        "minimum": 1,
                        "maximum": 100
                      },
                      "severity": {
                        "type": "string",
                        "description": "A human friendly version of the issue's importance",
                        "enum": [
                          "critical",
                          "high",
                          "medium",
                          "low"
                        ]
                      },
                      "group_status": {
                        "type": "string",
                        "description": "The current status of the issue group.",
                        "enum": [
                          "new",
                          "todo",
                          "task_open",
                          "task_closed",
                          "pull_request_open"
                        ]
                      },
                      "time_to_fix_minutes": {
                        "type": "integer",
                        "description": "The estimated time in minutes that it will take to fix this issue"
                      },
                      "locations": {
                        "format": "array",
                        "description": "A list of locations where this issue was found. A vulnerability can be found in multiple types of locations eg: when a container is linked to a code repository, any vulnerabilities found in that container, will also have that code repository listed as location.",
                        "items": {
                          "format": "Object",
                          "title": "Location",
                          "description": "An object describing where a vulnerability was found.",
                          "required": [
                            "id",
                            "name",
                            "type"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "The ID of the location in Aikido."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the location."
                            },
                            "type": {
                              "type": "string",
                              "description": "The type of location.",
                              "enum": [
                                "cloud",
                                "code_repo",
                                "container_repo"
                              ]
                            }
                          }
                        }
                      },
                      "how_to_fix": {
                        "type": "string",
                        "description": "A string explaining how to fix the issue"
                      },
                      "related_cve_ids": {
                        "format": "array",
                        "description": "A list of CVE id's related to this issue group.",
                        "items": {
                          "type": "string",
                          "description": "A single CVE id"
                        }
                      }
                    },
                    "example": {
                      "id": 24,
                      "type": "open_source",
                      "title": "firefox-esr",
                      "description": "Attacker can trigger memory corruption leading to crash or remote code execution",
                      "time_to_fix_minutes": 30,
                      "group_status": "new",
                      "priority": 90,
                      "severity": "critical",
                      "locations": [
                        {
                          "id": 1,
                          "name": "REST API service",
                          "type": "code_repository"
                        },
                        {
                          "id": 1,
                          "name": "Cloud infrastructure",
                          "type": "cloud"
                        },
                        {
                          "id": 1,
                          "name": "pied-piper/rest-api",
                          "type": "container_repository"
                        }
                      ],
                      "how_to_fix": "You can fix this issue by ...",
                      "related_cve_ids": [
                        "CVE-2024-8385",
                        "CVE-2024-8381",
                        "CVE-2024-8381"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/export": {
      "get": {
        "operationId": "exportIssues",
        "summary": "Export all issues",
        "description": "Returns a list of all issues (open, ignored, snoozed, closed,..) in your account in JSON or CSV format",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The format of the export",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "filter_status",
            "in": "query",
            "description": "A filter to only export issues that have a given status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "open",
                "ignored",
                "snoozed",
                "closed"
              ],
              "default": "all"
            }
          },
          {
            "name": "filter_team_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given team",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the team"
            }
          },
          {
            "name": "filter_issue_group_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given issue group",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the issue group"
            }
          },
          {
            "name": "filter_code_repo_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given code repo",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the code repository"
            }
          },
          {
            "name": "filter_code_repo_name",
            "in": "query",
            "description": "A filter to only export issues that belong to a code repo which matches this name exactly",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The name of the code repo"
            }
          },
          {
            "name": "filter_container_repo_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given container repo",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the container repository"
            }
          },
          {
            "name": "filter_container_repo_name",
            "in": "query",
            "description": "A filter to only export issues that belong to a container repo which matches this name exactly",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The name of the container"
            }
          },
          {
            "name": "filter_container_repo_ids",
            "in": "query",
            "description": "A filter to only export issues that belong to given container repos (up to 15). Multiple values should be comma separated. Only available for Pro and Scale workspaces.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A string of comma separated unique ID's of the container repositories"
            }
          },
          {
            "name": "filter_domain_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given domain",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the domain"
            }
          },
          {
            "name": "filter_virtual_machine_id",
            "in": "query",
            "description": "A filter to only export issues that belong to a given virtual machine",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the virtual machine"
            }
          },
          {
            "name": "filter_issue_type",
            "in": "query",
            "description": "A filter to only export issues that have a give type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open_source",
                "leaked_secret",
                "cloud",
                "sast",
                "iac",
                "docker_container",
                "cloud_instance",
                "surface_monitoring",
                "malware",
                "eol",
                "mobile",
                "scm_security",
                "ai_pentest",
                "license"
              ]
            }
          },
          {
            "name": "filter_severities",
            "in": "query",
            "description": "A filter to only export issues with the specified severities. Multiple values should be comma separated.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ]
            }
          },
          {
            "name": "sla_remediate_by_after",
            "in": "query",
            "description": "A filter to only export issues with a sla_remediate_by timestamp after the specified unix timestamp (in seconds).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sla_remediate_by_before",
            "in": "query",
            "description": "A filter to only export issues with a sla_remediate_by timestamp before the specified unix timestamp (in seconds).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter_language",
            "in": "query",
            "description": "A filter to only export issues of the specified language.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JS",
                "TS",
                "PHP",
                "Java",
                "Scala",
                "GO",
                "PY",
                "Ruby",
                ".NET",
                "RUST",
                "Dart",
                "Swift",
                "Elixir",
                "C",
                "Clojure",
                "kotlin",
                "APEX"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to export. Leave empty to export all issues.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of issues to export per page when pagination is used.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 10,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of issues, sorted descending by their priority in the requested format",
            "content": {
              "application/json": {
                "schema": {
                  "format": "array",
                  "items": {
                    "format": "Object",
                    "title": "Issues",
                    "required": [
                      "id",
                      "group_id",
                      "attack_surface",
                      "status",
                      "severity",
                      "severity_score",
                      "type",
                      "first_detected_at"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "The issue ID."
                      },
                      "group_id": {
                        "type": "integer",
                        "description": "The issue group ID."
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of issues in this group.",
                        "enum": [
                          "open_source",
                          "leaked_secret",
                          "cloud",
                          "iac",
                          "sast",
                          "mobile",
                          "surface_monitoring",
                          "malware",
                          "eol",
                          "scm_security",
                          "ai_pentest",
                          "license"
                        ]
                      },
                      "rule": {
                        "type": "string",
                        "description": "The name of the rule that caused this finding (eg 'SQL injection')"
                      },
                      "rule_id": {
                        "type": "string",
                        "description": "The id of the rule that caused this finding (eg 'aik_cloud_aws_001')"
                      },
                      "attack_surface": {
                        "type": "string",
                        "description": "The attack surface of this issue.",
                        "enum": [
                          "frontend",
                          "backend",
                          "docker_container",
                          "cloud"
                        ]
                      },
                      "severity_score": {
                        "type": "integer",
                        "description": "A number indicating the importance of the vulnerability",
                        "minimum": 1,
                        "maximum": 100
                      },
                      "original_cvss_severity_score": {
                        "type": "integer",
                        "description": "A number indicating the importance of the vulnerability based on the original CVSS score",
                        "minimum": 1,
                        "maximum": 100
                      },
                      "severity": {
                        "type": "string",
                        "description": "A human friendly version of the issue's importance",
                        "enum": [
                          "critical",
                          "high",
                          "medium",
                          "low"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the issue.",
                        "enum": [
                          "open",
                          "ignored",
                          "snoozed",
                          "closed"
                        ]
                      },
                      "affected_package": {
                        "type": "string",
                        "description": "The name of affected open-source package, if any"
                      },
                      "affected_file": {
                        "type": "string",
                        "description": "The name of affected file, if any"
                      },
                      "cve_id": {
                        "type": "string",
                        "description": "CVE ID in case of an issue of type open_source"
                      },
                      "first_detected_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was first created"
                      },
                      "code_repo_id": {
                        "type": "integer",
                        "description": "The id of the code repository where this issue was found"
                      },
                      "code_repo_name": {
                        "type": "string",
                        "description": "The name of code repository where this issue was found"
                      },
                      "cloud_id": {
                        "type": "integer",
                        "description": "The id of the cloud where this issue was found"
                      },
                      "cloud_name": {
                        "type": "string",
                        "description": "The name of the cloud where this issue was found"
                      },
                      "container_repo_id": {
                        "type": "integer",
                        "description": "The id of the container image where this issue was found"
                      },
                      "container_repo_name": {
                        "type": "string",
                        "description": "The name of the container image where this issue was found"
                      },
                      "domain_id": {
                        "type": "integer",
                        "description": "The id of the domain where this issue was found"
                      },
                      "domain_name": {
                        "type": "string",
                        "description": "The name of the domain where this issue was found"
                      },
                      "virtual_machine_id": {
                        "type": "integer",
                        "description": "The id of the virtual machine where this issue was found"
                      },
                      "virtual_machine_name": {
                        "type": "string",
                        "description": "The name of the virtual machine where this issue was found"
                      },
                      "pentest_project_id": {
                        "type": "integer",
                        "description": "The id of the pentest project where this issue was found"
                      },
                      "sla_days": {
                        "type": "integer",
                        "description": "The amount of days wherein this issue should be fixed following the configured SLA for this severity"
                      },
                      "sla_remediate_by": {
                        "type": "integer",
                        "description": "An epoch timestamp in seconds by when this issue should be fixed following the configured SLA for this severity"
                      },
                      "ignored_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was ignored. This value will be 'null' if it is not ignored."
                      },
                      "ignored_by": {
                        "type": "string",
                        "description": "A string indicating the way this issue got ignored. Can be one of the following: 'auto', 'user', 'rule', 'api'."
                      },
                      "closed_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was closed. This value will be 'null' if it is not closed."
                      },
                      "start_line": {
                        "type": "integer",
                        "description": "A number indicating the line number of the file where the affected code of the issue begins. This value will be 'null' when the issue is not a sast or secret issue."
                      },
                      "end_line": {
                        "type": "integer",
                        "description": "A number indicating the line number of the file where the affected code of the issue ends. This value will be 'null' when the issue is not a sast or secret issue."
                      },
                      "snooze_until": {
                        "type": "integer",
                        "description": "A timestamp indicating until when the issue will be snoozed. This value will be 'null' if the issue not snoozed."
                      },
                      "cwe_classes": {
                        "type": "array",
                        "description": "A list of CWE classes that apply to this issue",
                        "items": {
                          "type": "string"
                        }
                      },
                      "installed_version": {
                        "type": "string",
                        "description": "The current version of the package related to this issue. This is only applicable for issues of type 'open_source'."
                      },
                      "patched_versions": {
                        "type": "array",
                        "description": "A list of versions that contain a fix for this issue. This is only applicable for issues of type 'open_source'.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "license_type": {
                        "type": "string",
                        "description": "The license type related to this issue. This is only applicable for issues of type 'license'."
                      },
                      "programming_language": {
                        "type": "string",
                        "description": "The programming language related to this issue. This is only applicable for issues of type 'open_source' and 'sast'."
                      },
                      "exploitability": {
                        "type": "string",
                        "description": "The exploitability of this issue. This field can be null when we don't have enough information to determine the exploitability.",
                        "enum": [
                          "actively_exploited",
                          "poc_exists",
                          "no_known_exploit"
                        ]
                      }
                    },
                    "example": {
                      "id": 1,
                      "group_id": 1,
                      "attack_surface": "backend",
                      "status": "open",
                      "severity": "critical",
                      "severity_score": 90,
                      "original_cvss_severity_score": 90,
                      "type": "open_source",
                      "rule": "SQL injection",
                      "rule_id": "aik_cloud_aws_001",
                      "affected_package": "minimist",
                      "affected_file": "index.php",
                      "first_detected_at": 1700489005,
                      "code_repo_name": "test-service",
                      "code_repo_id": 1,
                      "container_repo_id": 1,
                      "container_repo_name": "aikido/test-service",
                      "domain_id": 4,
                      "domain_name": "https://aikido.dev",
                      "virtual_machine_id": 10,
                      "virtual_machine_name": "aikido-demo-ec2",
                      "pentest_project_id": 1,
                      "sla_days": 5,
                      "sla_remediate_by": 1700924603,
                      "ignored_at": null,
                      "ignored_by": "user",
                      "closed_at": null,
                      "start_line": 68,
                      "end_line": 70,
                      "snooze_until": null,
                      "cwe_classes": [
                        "CWE-89"
                      ],
                      "installed_version": "4.2.0",
                      "patched_versions": [
                        "4.2.1",
                        "5.0.0"
                      ],
                      "license": null,
                      "programming_language": "PHP",
                      "exploitability": "actively_exploited"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/counts": {
      "get": {
        "operationId": "getIssueCounts",
        "summary": "Get issue counts",
        "description": "Returns the total number of issues",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "filter_code_repo_id",
            "in": "query",
            "description": "Filter counts on code repository ID",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the code repository"
            }
          },
          {
            "name": "filter_external_code_repo_id",
            "in": "query",
            "description": "Filter counts on code repository ID from the provider",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_code_repo_name",
            "in": "query",
            "description": "Filter counts on code repository name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_container_repo_id",
            "in": "query",
            "description": "A filter to only count issues that belong to a given container repo",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of the container repository"
            }
          },
          {
            "name": "filter_team_id",
            "in": "query",
            "description": "Filter counts for a specific team",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since_timestamp",
            "in": "query",
            "description": "Filter counts for issues that were created after a given timestamp (in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Unix timestamp in seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The issue counts",
            "content": {
              "application/json": {
                "schema": {
                  "format": "Object",
                  "title": "Issue counts",
                  "required": [
                    "issue_groups",
                    "issues"
                  ],
                  "properties": {
                    "issue_groups": {
                      "type": "object",
                      "description": "The counts of issues by severity",
                      "required": [
                        "critical",
                        "high",
                        "medium",
                        "low",
                        "all"
                      ],
                      "properties": {
                        "critical": {
                          "type": "integer",
                          "description": "The number of critical issues"
                        },
                        "high": {
                          "type": "integer",
                          "description": "The number of high issues"
                        },
                        "medium": {
                          "type": "integer",
                          "description": "The number of medium issues"
                        },
                        "low": {
                          "type": "integer",
                          "description": "The number of low issues"
                        },
                        "all": {
                          "type": "integer",
                          "description": "The total number of issues"
                        }
                      },
                      "example": {
                        "critical": 1,
                        "high": 2,
                        "medium": 3,
                        "low": 4,
                        "all": 10
                      }
                    },
                    "issues": {
                      "type": "object",
                      "description": "The counts of issues by severity",
                      "required": [
                        "critical",
                        "high",
                        "medium",
                        "low",
                        "all"
                      ],
                      "properties": {
                        "critical": {
                          "type": "integer",
                          "description": "The number of critical issues"
                        },
                        "high": {
                          "type": "integer",
                          "description": "The number of high issues"
                        },
                        "medium": {
                          "type": "integer",
                          "description": "The number of medium issues"
                        },
                        "low": {
                          "type": "integer",
                          "description": "The number of low issues"
                        },
                        "all": {
                          "type": "integer",
                          "description": "The total number of issues"
                        }
                      },
                      "example": {
                        "critical": 2,
                        "high": 3,
                        "medium": 7,
                        "low": 12,
                        "all": 24
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/detail/bulk": {
      "get": {
        "operationId": "getIssueDetailsBulk",
        "summary": "Get issue details bulk",
        "description": "Returns the details of multiple issues. This feature needs to be enabled by Aikido support before it can be used.",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_ids",
            "in": "query",
            "description": "Comma separated list of issue ids. Maximum 100 issue ids can be provided at once.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_epss_score",
            "in": "query",
            "description": "Optional flag to include the EPSS score. Default is 'false'. Only available for Pro and Scale workspaces",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of issues",
            "content": {
              "application/json": {
                "schema": {
                  "format": "array",
                  "items": {
                    "format": "Object",
                    "title": "Issues",
                    "required": [
                      "id",
                      "group_id",
                      "attack_surface",
                      "status",
                      "severity",
                      "severity_score",
                      "type",
                      "first_detected_at"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "The issue ID."
                      },
                      "group_id": {
                        "type": "integer",
                        "description": "The issue group ID."
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of issues in this group.",
                        "enum": [
                          "open_source",
                          "leaked_secret",
                          "cloud",
                          "iac",
                          "sast",
                          "surface_monitoring",
                          "malware",
                          "eol",
                          "scm_security",
                          "ai_pentest",
                          "license"
                        ]
                      },
                      "rule": {
                        "type": "string",
                        "description": "The name of the rule that caused this finding (eg 'SQL injection')"
                      },
                      "attack_surface": {
                        "type": "string",
                        "description": "The attack surface of this issue.",
                        "enum": [
                          "frontend",
                          "backend",
                          "docker_container",
                          "cloud"
                        ]
                      },
                      "severity_score": {
                        "type": "integer",
                        "description": "A number indicating the importance of the vulnerability",
                        "minimum": 1,
                        "maximum": 100
                      },
                      "severity": {
                        "type": "string",
                        "description": "A human friendly version of the issue's importance",
                        "enum": [
                          "critical",
                          "high",
                          "medium",
                          "low"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the issue.",
                        "enum": [
                          "open",
                          "ignored",
                          "snoozed",
                          "closed"
                        ]
                      },
                      "affected_package": {
                        "type": "string",
                        "description": "The name of affected open-source package, if any"
                      },
                      "affected_file": {
                        "type": "string",
                        "description": "The name of affected file, if any"
                      },
                      "cve_id": {
                        "type": "string",
                        "description": "The CVE ID when it is an open_source issue"
                      },
                      "first_detected_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was first created"
                      },
                      "code_repo_id": {
                        "type": "integer",
                        "description": "The id of the code repository where this issue was found"
                      },
                      "code_repo_name": {
                        "type": "string",
                        "description": "The name of code repository where this issue was found"
                      },
                      "cloud_id": {
                        "type": "integer",
                        "description": "The id of the cloud where this issue was found"
                      },
                      "cloud_name": {
                        "type": "string",
                        "description": "The name of the cloud where this issue was found"
                      },
                      "container_repo_id": {
                        "type": "integer",
                        "description": "The id of the container image where this issue was found"
                      },
                      "container_repo_name": {
                        "type": "string",
                        "description": "The name of the container image where this issue was found"
                      },
                      "virtual_machine_id": {
                        "type": "integer",
                        "description": "The id of the cloud instance where this issue was found"
                      },
                      "virtual_machine_name": {
                        "type": "string",
                        "description": "The name of the cloud instance where this issue was found"
                      },
                      "domain_id": {
                        "type": "integer",
                        "description": "The id of the domain where this issue was found"
                      },
                      "domain_name": {
                        "type": "string",
                        "description": "The name of the domain where this issue was found"
                      },
                      "sla_remediate_by": {
                        "type": "integer",
                        "description": "An epoch timestamp in seconds by when this issue should be fixed following the configured SLA for this severity"
                      },
                      "ignored_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was ignored. This value will be 'null' if it is not ignored."
                      },
                      "closed_at": {
                        "type": "integer",
                        "description": "A timestamp indicating when the issue was closed. This value will be 'null' if it is not closed."
                      },
                      "issue_type_metadata": {
                        "type": "object",
                        "description": "An object containing additional information about the issue by the issue type. This value will not always be set."
                      },
                      "reachability_status": {
                        "type": "string",
                        "description": "The current status of the issue group.",
                        "enum": [
                          "unknown",
                          "reachable",
                          "not_reachable"
                        ]
                      },
                      "snooze_until": {
                        "type": "integer",
                        "description": "A timestamp indicating until when the issue will be snoozed. This value will be 'null' if the issue is not snoozed."
                      },
                      "snooze_reason": {
                        "type": "string",
                        "description": "The reason why the issue is snoozed."
                      },
                      "ignore_reasons": {
                        "type": "array",
                        "description": "The reasons why this issue is ignored.",
                        "items": {
                          "format": "Object",
                          "title": "Ignore Reasons",
                          "required": [
                            "kind",
                            "reason"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "description": "The kind of ignore that happened. Can be 'manual_ignore', 'auto_ignore', 'rule_ignore' or 'api_ignore'",
                              "enum": [
                                "manual_ignore",
                                "auto_ignore",
                                "rule_ignore",
                                "api_ignore"
                              ]
                            },
                            "reason": {
                              "type": "string",
                              "description": "The reason describing why the issue is ignored."
                            },
                            "epss": {
                              "type": "string",
                              "description": "String representing the EPSS score when include_epss_score is set to true. Value is null when there is no EPSS score available."
                            }
                          }
                        }
                      },
                      "programming_language": {
                        "type": "string",
                        "description": "The programming language related to this issue."
                      }
                    },
                    "example": {
                      "id": 1,
                      "group_id": 1,
                      "attack_surface": "backend",
                      "status": "open",
                      "severity": "critical",
                      "severity_score": 90,
                      "cve_id": "CVE-2020-7598",
                      "type": "open_source",
                      "rule": "SQL injection",
                      "affected_package": "minimist",
                      "affected_file": "index.php",
                      "first_detected_at": 1700489005,
                      "code_repo_name": "test-service",
                      "code_repo_id": 1,
                      "container_repo_id": 1,
                      "container_repo_name": "aikido/test-service",
                      "domain_id": 4,
                      "domain_name": "https://aikido.dev",
                      "virtual_machine_id": 13,
                      "virtual_machine_name": "aikido-demo-env",
                      "sla_remediate_by": 1700924603,
                      "ignored_at": null,
                      "closed_at": null,
                      "reachability_status": "reachable",
                      "issue_type_metadata": {
                        "open_source": {
                          "installed_version": "4.2.0",
                          "patched_versions": [
                            "4.2.6"
                          ]
                        },
                        "sast": {
                          "start_line": 69,
                          "end_line": 73
                        },
                        "leaked_secret": {
                          "commit": "nvr9onnag1veuupnever9onnal3tud0wn",
                          "line": 10
                        },
                        "surface_monitoring": {
                          "cve_id": "CVE-2025-3573",
                          "package_name": "jquery-validation",
                          "package_version": "1.19.5",
                          "domain_target_url": "https://aikido.dev/api/routeTest",
                          "evidence": null,
                          "evidence_description": null
                        }
                      },
                      "snooze_until": null,
                      "snooze_reason": "",
                      "ignore_reasons": [
                        {
                          "kind": "manual_ignore",
                          "reason": "Marked as false positive"
                        },
                        {
                          "kind": "auto_ignore",
                          "reason": "Dependency not used in production"
                        },
                        {
                          "kind": "rule_ignore",
                          "reason": "Path starts with examples/ in repo-1"
                        },
                        {
                          "kind": "api_ignore",
                          "reason": "Ignored via API"
                        }
                      ],
                      "programming_language": "JS"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}": {
      "get": {
        "operationId": "getIssueDetail",
        "summary": "Get issue detail",
        "description": "Returns the details of a single issue",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The unique ID of the issue",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "name": "include_epss_score",
            "in": "query",
            "description": "Optional flag to include the EPSS score. Default is 'false'. Only available for Pro and Scale workspaces",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An issue",
            "content": {
              "application/json": {
                "schema": {
                  "format": "Object",
                  "title": "Issues",
                  "required": [
                    "id",
                    "group_id",
                    "attack_surface",
                    "status",
                    "severity",
                    "severity_score",
                    "type",
                    "first_detected_at"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The issue ID."
                    },
                    "group_id": {
                      "type": "integer",
                      "description": "The issue group ID."
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of issues in this group.",
                      "enum": [
                        "open_source",
                        "leaked_secret",
                        "cloud",
                        "iac",
                        "sast",
                        "surface_monitoring",
                        "malware",
                        "eol",
                        "scm_security",
                        "ai_pentest",
                        "license"
                      ]
                    },
                    "rule": {
                      "type": "string",
                      "description": "The name of the rule that caused this finding (eg 'SQL injection')"
                    },
                    "attack_surface": {
                      "type": "string",
                      "description": "The attack surface of this issue.",
                      "enum": [
                        "frontend",
                        "backend",
                        "docker_container",
                        "cloud"
                      ]
                    },
                    "severity_score": {
                      "type": "integer",
                      "description": "A number indicating the importance of the vulnerability",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "severity": {
                      "type": "string",
                      "description": "A human friendly version of the issue's importance",
                      "enum": [
                        "critical",
                        "high",
                        "medium",
                        "low"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the issue.",
                      "enum": [
                        "open",
                        "ignored",
                        "snoozed",
                        "closed"
                      ]
                    },
                    "affected_package": {
                      "type": "string",
                      "description": "The name of affected open-source package, if any"
                    },
                    "affected_file": {
                      "type": "string",
                      "description": "The name of affected file, if any"
                    },
                    "cve_id": {
                      "type": "string",
                      "description": "The CVE ID when it is an open_source issue"
                    },
                    "first_detected_at": {
                      "type": "integer",
                      "description": "A timestamp indicating when the issue was first created"
                    },
                    "code_repo_id": {
                      "type": "integer",
                      "description": "The id of the code repository where this issue was found"
                    },
                    "code_repo_name": {
                      "type": "string",
                      "description": "The name of code repository where this issue was found"
                    },
                    "cloud_id": {
                      "type": "integer",
                      "description": "The id of the cloud where this issue was found"
                    },
                    "cloud_name": {
                      "type": "string",
                      "description": "The name of the cloud where this issue was found"
                    },
                    "container_repo_id": {
                      "type": "integer",
                      "description": "The id of the container image where this issue was found"
                    },
                    "container_repo_name": {
                      "type": "string",
                      "description": "The name of the container image where this issue was found"
                    },
                    "domain_id": {
                      "type": "integer",
                      "description": "The id of the domain where this issue was found"
                    },
                    "domain_name": {
                      "type": "string",
                      "description": "The name of the domain where this issue was found"
                    },
                    "virtual_machine_id": {
                      "type": "integer",
                      "description": "The id of the cloud instance where this issue was found"
                    },
                    "virtual_machine_name": {
                      "type": "string",
                      "description": "The name of the cloud instance where this issue was found"
                    },
                    "sla_remediate_by": {
                      "type": "integer",
                      "description": "An epoch timestamp in seconds by when this issue should be fixed following the configured SLA for this severity"
                    },
                    "ignored_at": {
                      "type": "integer",
                      "description": "A timestamp indicating when the issue was ignored. This value will be 'null' if it is not ignored."
                    },
                    "closed_at": {
                      "type": "integer",
                      "description": "A timestamp indicating when the issue was closed. This value will be 'null' if it is not closed."
                    },
                    "issue_type_metadata": {
                      "type": "object",
                      "description": "An object containing additional information about the issue by the issue type. This value will not always be set."
                    },
                    "how_to_fix": {
                      "type": "string",
                      "description": "A string explaining how to fix the issue"
                    },
                    "reachability_status": {
                      "type": "string",
                      "description": "The current status of the issue group.",
                      "enum": [
                        "unknown",
                        "reachable",
                        "not_reachable"
                      ]
                    },
                    "snooze_until": {
                      "type": "integer",
                      "description": "A timestamp indicating until when the issue will be snoozed. This value will be 'null' if the issue is not snoozed."
                    },
                    "snooze_reason": {
                      "type": "string",
                      "description": "The reason why the issue is snoozed."
                    },
                    "ignore_reasons": {
                      "type": "array",
                      "description": "The reasons why this issue is ignored.",
                      "items": {
                        "format": "Object",
                        "title": "Ignore Reasons",
                        "required": [
                          "kind",
                          "reason"
                        ],
                        "properties": {
                          "kind": {
                            "type": "string",
                            "description": "The kind of ignore that happened. Can be 'manual_ignore', 'auto_ignore', 'rule_ignore' or 'api_ignore'",
                            "enum": [
                              "manual_ignore",
                              "auto_ignore",
                              "rule_ignore",
                              "api_ignore"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "description": "The reason describing why the issue is ignored."
                          },
                          "epss": {
                            "type": "string",
                            "description": "String representing the EPSS score when include_epss_score is set to true. Value is null when there is no EPSS score available."
                          }
                        }
                      }
                    },
                    "programming_language": {
                      "type": "string",
                      "description": "The programming language related to this issue."
                    }
                  },
                  "example": {
                    "id": 1,
                    "group_id": 1,
                    "attack_surface": "backend",
                    "status": "open",
                    "severity": "critical",
                    "severity_score": 90,
                    "cve_id": "CVE-2020-7598",
                    "type": "open_source",
                    "rule": "SQL injection",
                    "affected_package": "minimist",
                    "affected_file": "index.php",
                    "first_detected_at": 1700489005,
                    "code_repo_name": "test-service",
                    "code_repo_id": 1,
                    "container_repo_id": 1,
                    "container_repo_name": "aikido/test-service",
                    "domain_id": 4,
                    "domain_name": "https://aikido.dev",
                    "virtual_machine_id": 13,
                    "virtual_machine_name": "aikido-demo-env",
                    "sla_remediate_by": 1700924603,
                    "ignored_at": null,
                    "closed_at": null,
                    "how_to_fix": "Upgrade package minimist to ...",
                    "reachability_status": "reachable",
                    "issue_type_metadata": {
                      "open_source": {
                        "installed_version": "4.2.0",
                        "patched_versions": [
                          "4.2.6"
                        ]
                      },
                      "sast": {
                        "start_line": 69,
                        "end_line": 73
                      },
                      "cloud": {
                        "resource_id": "arn:aws:elasticloadbalancing:eu-west-1:123456789012:loadbalancer/app/awseb--AWSEB-ABcdefg1hIj2/345kl6mn7o8pqrstu",
                        "resource_name": "awseb--AWSEB-ABcdefg1hIj2",
                        "resource_kind": "aws_load_balancer"
                      },
                      "leaked_secret": {
                        "commit": "nvr9onnag1veuupnever9onnal3tud0wn",
                        "line": 10
                      },
                      "surface_monitoring": {
                        "cve_id": "CVE-2025-3573",
                        "package_name": "jquery-validation",
                        "package_version": "1.19.5",
                        "domain_target_url": "https://aikido.dev/api/routeTest",
                        "evidence": null,
                        "evidence_description": null
                      }
                    },
                    "snooze_until": null,
                    "snooze_reason": "",
                    "ignore_reasons": [
                      {
                        "kind": "manual_ignore",
                        "reason": "Marked as false positive"
                      },
                      {
                        "kind": "auto_ignore",
                        "reason": "Dependency not used in production"
                      },
                      {
                        "kind": "rule_ignore",
                        "reason": "Path starts with examples/ in repo-1"
                      },
                      {
                        "kind": "api_ignore",
                        "reason": "Ignored via API"
                      }
                    ],
                    "programming_language": "JS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}/reachability": {
      "get": {
        "operationId": "getIssueReachability",
        "summary": "Get issue reachability",
        "description": "Returns the reachability of a single issue",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The unique ID of the issue",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "name": "include_dev_deps",
            "in": "query",
            "description": "Optional flag to include the reachability including dev dependencies. Default is 'false'.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A reachability analysis for an issue",
            "content": {
              "application/json": {
                "schema": {
                  "format": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "package_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "package_version": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "file_path": {
                                "type": "string"
                              },
                              "line_numbers": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              }
                            },
                            "required": [
                              "file_path",
                              "line_numbers"
                            ]
                          }
                        }
                      },
                      "required": [
                        "package_name",
                        "package_version",
                        "files"
                      ]
                    }
                  },
                  "example": [
                    [
                      {
                        "package_name": null,
                        "package_version": null,
                        "files": [
                          {
                            "file_path": "/app.js",
                            "line_numbers": [
                              2,
                              5
                            ]
                          },
                          {
                            "file_path": "/routes.js",
                            "line_numbers": [
                              2
                            ]
                          }
                        ]
                      },
                      {
                        "package_name": "express",
                        "package_version": "4.19.2",
                        "files": [
                          {
                            "file_path": "/lib/express.js",
                            "line_numbers": [
                              78,
                              80,
                              82,
                              83,
                              90
                            ]
                          }
                        ]
                      },
                      {
                        "package_name": "body-parser",
                        "package_version": "1.20.2",
                        "files": []
                      }
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}/snooze": {
      "put": {
        "operationId": "snoozeIssue",
        "summary": "Snooze an issue",
        "description": "Snooze an issue for a given period",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters needed to snooze an issue",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "format": "Object",
                "title": "Snooze issue request body",
                "required": [
                  "snooze_until"
                ],
                "properties": {
                  "snooze_until": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "A unix timestamp describing until when the issue should be snoozed"
                  },
                  "reason": {
                    "type": "string",
                    "description": "A reason for snoozing the issue"
                  },
                  "apply_for_all_tags": {
                    "type": "boolean",
                    "description": "In case the issue is linked to a container, apply the snooze action across all tags of this container. This feature needs to be enabled by Aikido support before it can be used."
                  }
                },
                "example": {
                  "snooze_until": 1716376571,
                  "reason": "Waiting for patch",
                  "apply_for_all_tags": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The issue has been successfully snoozed",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "status": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the provided fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided issue ID is does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The payload is valid, but the request could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}/unsnooze": {
      "put": {
        "operationId": "UnsnoozeIssue",
        "summary": "Unsnooze an issue",
        "description": "Unsnooze an issue for a given period",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters needed to unsnooze an issue",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "format": "Object",
                "title": "Unsnooze issue request body",
                "required": [],
                "properties": {
                  "apply_for_all_tags": {
                    "type": "boolean",
                    "description": "In case the issue is linked to a container, apply the unsnooze action across all tags of this container. This feature needs to be enabled by Aikido support before it can be used."
                  }
                },
                "example": {
                  "apply_for_all_tags": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The issue has been successfully unsnoozed",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "status": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the provided fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided issue ID is does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The payload is valid, but the request could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}/ignore": {
      "put": {
        "operationId": "ignoreIssue",
        "summary": "Ignore an issue",
        "description": "Ignore an issue",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters needed to ignore an issue",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "format": "Object",
                "title": "Ignore issue request body",
                "required": [],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "A reason for ignoring the issue"
                  },
                  "apply_for_all_tags": {
                    "type": "boolean",
                    "description": "In case the issue is linked to a container, apply the ignore action across all tags of this container. This feature needs to be enabled by Aikido support before it can be used."
                  }
                },
                "example": {
                  "reason": "issue is not relevant here",
                  "apply_for_all_tags": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The issue has been successfully ignored",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "status": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the provided fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided issue ID is does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}/unignore": {
      "put": {
        "operationId": "UnignoreIssue",
        "summary": "Unignore an issue",
        "description": "Unignore an issue",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters needed to unignore an issue",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "format": "Object",
                "title": "Unignore issue request body",
                "required": [],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "A reason for unignoring the issue"
                  },
                  "apply_for_all_tags": {
                    "type": "boolean",
                    "description": "In case the issue is linked to a container, apply the unignore action across all tags of this container. This feature needs to be enabled by Aikido support before it can be used."
                  }
                },
                "example": {
                  "reason": "issue is relevant again",
                  "apply_for_all_tags": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The issue has been successfully unignored",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "status": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the provided fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided issue ID is does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/groups/{issue_group_id}": {
      "get": {
        "operationId": "getIssueGroupDetails",
        "summary": "Get issue group detail",
        "description": "Returns the details of an issue group",
        "security": [
          {
            "oauth": [
              "issues:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_group_id",
            "in": "path",
            "description": "The unique ID of the issue group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An issue group",
            "content": {
              "application/json": {
                "schema": {
                  "format": "Object",
                  "title": "Issue groups",
                  "required": [
                    "id",
                    "title",
                    "description",
                    "type",
                    "group_status",
                    "severity_score",
                    "severity",
                    "time_to_fix_minutes",
                    "locations"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The issue group ID."
                    },
                    "title": {
                      "type": "string",
                      "description": "A human readable title for this issue group."
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "A small description of this issue."
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of issues in this group.",
                      "enum": [
                        "open_source",
                        "leaked_secret",
                        "cloud",
                        "iac",
                        "sast",
                        "surface_monitoring",
                        "malware",
                        "eol",
                        "scm_security",
                        "ai_pentest",
                        "license"
                      ]
                    },
                    "severity_score": {
                      "type": "integer",
                      "description": "A number indicating the importance of the vulnerability, this is based on all of the open issues for the issue group",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "severity": {
                      "type": "string",
                      "description": "A human friendly version of the issue's importance, this is based on all of the open issues for the issue group",
                      "enum": [
                        "critical",
                        "high",
                        "medium",
                        "low"
                      ]
                    },
                    "group_status": {
                      "type": "string",
                      "description": "The current status of the issue group.",
                      "enum": [
                        "new",
                        "todo",
                        "task_open",
                        "task_closed",
                        "pull_request_open"
                      ]
                    },
                    "time_to_fix_minutes": {
                      "type": "integer",
                      "description": "The estimated time in minutes that it will take to fix this issue"
                    },
                    "locations": {
                      "format": "array",
                      "description": "A list of locations where this issue was found. A vulnerability can be found in multiple types of locations eg: when a container is linked to a code repository, any vulnerabilities found in that container, will also have that code repository listed as location.",
                      "items": {
                        "format": "Object",
                        "title": "Location",
                        "description": "An object describing where a vulnerability was found.",
                        "required": [
                          "id",
                          "name",
                          "type"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The ID of the location in Aikido."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the location."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of location.",
                            "enum": [
                              "cloud",
                              "code_repo",
                              "container_repo"
                            ]
                          }
                        }
                      }
                    },
                    "how_to_fix": {
                      "type": "string",
                      "description": "A string explaining how to fix the issue"
                    },
                    "related_cve_ids": {
                      "format": "array",
                      "description": "A list of CVE id's related to this issue group.",
                      "items": {
                        "type": "string",
                        "description": "A single CVE id"
                      }
                    }
                  },
                  "example": {
                    "id": 24,
                    "type": "open_source",
                    "title": "firefox-esr",
                    "description": "Attacker can trigger memory corruption leading to crash or remote code execution",
                    "time_to_fix_minutes": 30,
                    "group_status": "new",
                    "priority": 90,
                    "severity": "critical",
                    "locations": [
                      {
                        "id": 1,
                        "name": "REST API service",
                        "type": "code_repository"
                      },
                      {
                        "id": 1,
                        "name": "Cloud infrastructure",
                        "type": "cloud"
                      },
                      {
                        "id": 1,
                        "name": "pied-piper/rest-api",
                        "type": "container_repository"
                      }
                    ],
                    "how_to_fix": "You can fix this issue by ...",
                    "related_cve_ids": [
                      "CVE-2024-8385",
                      "CVE-2024-8381",
                      "CVE-2024-8381"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/groups/{issue_group_id}/ignore": {
      "put": {
        "operationId": "ignoreIssueGroup",
        "summary": "Ignore an issue group",
        "description": "Ignore an issue group",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_group_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters needed to ignore an issue group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "format": "Object",
                "title": "Ignore issue request body",
                "required": [],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "A reason for ignoring the issue"
                  }
                },
                "example": {
                  "reason": "issue is not relevant here"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The issue has been successfully ignored",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "success": {
                      "type": "integer"
                    },
                    "ignored_single_issues_amount": {
                      "type": "integer"
                    }
                  },
                  "example": {
                    "success": 1,
                    "ignored_single_issues_amount": 5
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the provided fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided issue group is does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "properties": {
                    "reason_phrase": {
                      "title": "reason_phrase",
                      "type": "string",
                      "description": "A human friendly reason why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/groups/{issue_group_id}/unignore": {
      "put": {
        "operationId": "unignoreIssueGroup",
        "summary": "Unignore an issue group",
        "description": "Unignore an issue group",
        "security": [
          {
            "oauth": [
              "issues:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "issue_group_id",
            "in": "path",
            "description": "The id of the issue",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
[...]
